{% extends "base.html" %}

{% block content %}
<form method="POST">
  <div class="form-group">
    <div class="container">


  {{form.hidden_tag()}}
  {{form.email.label}} <br>
  {{form.email(class="email", align = "center")}}
  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  <br>
  {{form.username.label}} <br>{{form.username(align = "center")}}<br>
  <small id="usernameHelp" class="form-text text-muted">Try unique username ..as need to not be in out database .</small>
  <br>
  {{form.password.label}} <br>{{form.password}}<br>
  <small id="passHelp" class="form-text text-muted">Try unique password ..as need to not be in out database .</small>

  {{form.pass_confirm.label}}<br>{{form.pass_confirm}}<br>
  <small id="passHelp" class="form-text text-muted">Repeat the unique password ..as need to not be in out database .</small>

  <br>
  {{form.submit()}}

    </div>
  </div>
</form>


{% endblock %}
